@model RentMyRide.Models.ViewModels.RentingVM


<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="renting.Id" hidden />
    <div class="row">
        <div class="border p-3 mt-4 row">
            <div class="col-12 pb-2">
                <h2 class="text-primary">@(Model.renting.Id != 0 ? "Update" : "Create") renting</h2>
                <hr />
            </div>
            <div class="mb-3 col-6">
                <label asp-for="renting.StartDate"></label>
                <input asp-for="renting.StartDate" class="form-control" />
                <span asp-validation-for="renting.StartDate" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="renting.EndDate"></label>
                <input asp-for="renting.EndDate" class="form-control" />
                <span asp-validation-for="renting.EndDate" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="renting.Status"></label>
                <select asp-for="renting.Status" asp-items="@Model.StatusList" class="form-select">
                    <option disabled selected>==Select status==</option>
                </select>
                <span asp-validation-for="renting.Status" class="text-danger"></span>
            </div>
            
            @if (Model.renting.Id != 0)
            {
                <div class="mb-3 col-6">
                    <label asp-for="renting.RentalFees"></label>
                    <input asp-for="renting.RentalFees" class="form-control" />
                    <span asp-validation-for="renting.RentalFees" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="renting.ExtraCharge"></label>
                    <input asp-for="renting.ExtraCharge" class="form-control" />
                    <span asp-validation-for="renting.ExtraCharge" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="renting.TotalCharge"></label>
                    <input asp-for="renting.TotalCharge" class="form-control" />
                    <span asp-validation-for="renting.TotalCharge" class="text-danger"></span>
                </div>
            }
            <div class="mb-3 col-6">
                <label asp-for="renting.PaymentMethod"></label>
                <select asp-for="renting.PaymentMethod" asp-items="@Model.PaymentList" class="form-select">
                    <option disabled selected>==Select Payment method==</option>
                </select>
                <span asp-validation-for="renting.PaymentMethod" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="renting.CarId"></label>
                <select asp-for="renting.CarId" asp-items="@Model.CarList" class="form-select">
                    <option disabled selected>==Select Car==</option>
                </select>
                <span asp-validation-for="renting.CarId" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="renting.ApplicationUserId"></label>
                <select asp-for="renting.ApplicationUserId" asp-items="@Model.UsersList" class="form-select">
                    <option disabled selected>==Select User==</option>
                </select>
                <span asp-validation-for="renting.ApplicationUserId" class="text-danger"></span>
            </div>

            @if (Model.renting.Id == 0) { 
                <div class="mb-3 col-6 card border-secondary">
                    <div class="card-header">
                        Additional Services
                    </div>
                    
                    <div class="card-body">
                        @foreach (var item in Model.AdditionalServices)
                        {
                            <input class="form-check-input" type="checkbox" id="@item.Name" value="true" name="MyCheckboxes_@item.Id">
                            <label class="form-check-label" style="color:black" for="@item.Name">
                                @item.Name
                            </label>
                            <br />
                        }
                    </div>
                </div>
            }
            else
            {
                <div class="row pt-4 mb-3">
                    <div class="col-6">
                        <h5>Additional Services: </h5>
                    </div>
                    <div class="col-6 text-end">
                        <a asp-controller="Renting" asp-action="CreateAdditionalService" asp-route-id="@Model.renting.Id" class="btn btn-primary">
                            <i class="bi bi-plus-circle"></i> &nbsp; Add Additional services
                        </a>


                    </div>
                </div>
                
                    <table id="" class="table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th width="40%">
                                    Name
                                </th>
                                <th width="40%">
                                    Price
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Renting_Services)
                            {
                            <tr>
                                <td width="40%">
                                    @item.AdditionalService.Name
                                </td>
                                <td width="40%">
                                    @item.AdditionalService.Price
                                </td>
                                <td>
                                    <a class="btn btn-danger" asp-controller="Renting" asp-action="Remove" asp-route-Id="@item.id">
                                        <i class="bi bi-trash-fill"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
            }
            <div class="col-12">
                @if (Model.renting.Id != 0)
                {
                    <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
                }
                else
                {
                    <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>
                }
                <a asp-controller="Renting" asp-action="Index" class="btn btn-outline-secondary" style="">
                    Back to list
                </a>
            </div>

        </div>
    </div>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}


